html, body {
    background-color: #E5ECFB;
	color: #0D1931;
    font-family: Tahoma;
}

h1 {
    text-align: center;
    position: center;
    top: 30%;
    background:#E5ECFB;
    color: #0D1931;
    font-size: 60px;

}

.relogio {
    text-align: center;
    position: center;
    color: #0D1931;
    font-size: 60px;
    letter-spacing: 7px;
}